In [14]:
%load_ext autoreload
%autoreload 2
pd.set_option('display.max_rows', 600)
from data_processing import punc_removal as pr

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Import data

In [2]:
df = pd.read_csv('../cleaned_data.csv')

### Define column of importance

In [3]:
places = df['What_locations_do_you_WANT_to_live_in'].dropna()

### Explode data to work with

In [15]:
exploded_places = places.str.split(',').explode().reset_index(drop=True)

### Remove punctuation

In [21]:
cleaned = exploded_places.apply(pr)

### Remove all non-location words

In [22]:
words = pd.read_csv('data/dictionary.txt')

In [36]:
words = set(words['a'].values)

In [56]:
def word_removal(row):
    temp = [word for word in row.split() if word not in words]
    return ' '.join(temp)

In [66]:
cleaned.apply(word_removal).value_counts()

San Diego                                                         38
Colorado                                                          28
Texas                                                             26
TX                                                                24
NC                                                                21
Washington DC                                                     20
Florida                                                           18
Denver                                                            17
New York                                                          17
Austin                                                            17
Houston                                                           17
Seattle                                                           16
Boston                                                            16
                                                                  14
DC                                                                13
CA                                                                12
California                                                        12
Washington                                                        12
NYC                                                               12
Chicago                                                           12
North Carolina                                                    12
Open                                                              11
Virginia Beach                                                    11
Dallas                                                            11
East Coast                                                        10
Virginia                                                          10
Nashville                                                         10
San Francisco                                                      9
Charlotte                                                          9
Los Angeles                                                        9
Atlanta                                                            9
Arizona                                                            9
CO                                                                 9
Southern California                                                8
New York City                                                      8
Bay Area                                                           7
Midwest                                                            7
VA                                                                 7
Montana                                                            7
TN                                                                 6
FL                                                                 6
Utah                                                               6
West Coast                                                         6
Pacific Northwest                                                  6
Raleigh                                                            6
GA                                                                 6
Tampa                                                              6
Oregon                                                             6
Wyoming                                                            5
AZ                                                                 5
Pittsburgh                                                         5
Georgia                                                            5
San Antonio                                                        5
PA                                                                 5
SC                                                                 5
Boise                                                              4
MT                                                                 4
Phoenix                                                            4
LA                                                                 4
Colorado Springs                                                   4
Southeast                                                          4
Alaska                                                             4
South Carolina                                                     4
Bozeman                                                            3
Tennessee                                                          3
Minneapolis                                                        3
WA                                                                 3
RaleighDurham                                                      3
Pennsylvania                                                       3
ID                                                                 3
North East                                                         3
Reno                                                               3
No Preference                                                      3
Ohio                                                               3
Sacramento                                                         3
Doesnt                                                             3
Idaho                                                              3
Illinois                                                           3
Hawaii                                                             3
UT                                                                 3
NY                                                                 3
Philadelphia                                                       3
Any                                                                3
Fayetteville                                                       2
CA Sacramento                                                      2
OH                                                                 2
Tx                                                                 2
Bend                                                               2
West Coast USA                                                     2
Portland                                                           2
Orange County                                                      2
Portsmouth                                                         2
New Mexico                                                         2
Paris                                                              2
International                                                      2
Southeastern US                                                    2
South                                                              2
New Jersey                                                         2
I                                                                  2
San Diego West Coast                                               2
MA                                                                 2
Hampton Roads                                                      2
Northwest                                                          2
Willing                                                            2
Kentucky                                                           2
Wear                                                               2
Greater Boston Area                                                2
Columbus                                                           2
Fort Worth                                                         2
Europe                                                             2
Salt Lake City                                                     2
London                                                             2
Anywhere                                                           2
Western Europe                                                     2
Northern Virginia                                                  2
East Texas                                                         2
Savannah                                                           2
Nevada                                                             2
Washington State                                                   2
US                                                                 2
DallasFort Worth                                                   2
SF                                                                 2
Massachusetts                                                      2
Southeast Asia                                                     2
Greater Seattle Area                                               2
New Orleans                                                        2
St Louis                                                           2
DFW                                                                2
Minnesota                                                          2
IL                                                                 2
Northeast                                                          2
OR                                                                 2
WI                                                                 2
I Hawaii I                                                         1
Greater Pittsburgh Area Morgantown WV                              1
DC a                                                               1
Most                                                               1
Whiling                                                            1
National Capital Region                                            1
Remotebut                                                          1
Boston DC                                                          1
North Carolina East Coast                                          1
Rhode Island                                                       1
Nyc                                                                1
Western mountainsoutdoor                                           1
OR La Pine                                                         1
Colorado I                                                         1
WA Portland                                                        1
TN New York                                                        1
Northern Texas                                                     1
LemooreFresno                                                      1
CA A                                                               1
SE USA                                                             1
TX Colorado                                                        1
Traverse City                                                      1
Iowa                                                               1
Olympia                                                            1
BaltimoreWashington Metro Area Annapolis                           1
Northern Va                                                        1
NC NYC                                                             1
Mountain West                                                      1
Japan                                                              1
The South                                                          1
Pacific                                                            1
TX Charleston                                                      1
Richmond                                                           1
Virginia BeachChesapeake                                           1
Columbus Ohio                                                      1
Southern Western United States                                     1
Northwest United States                                            1
Colorado Virginia North Carolina California Maryland Wisconsin     1
Ventura                                                            1
OR Boise                                                           1
West Coast Mountain West                                           1
EUROPE                                                             1
FL Miami                                                           1
N FloridaTexas                                                     1
Southern NH                                                        1
Flexible Miami                                                     1
Within New Haven                                                   1
Varies I                                                           1
FL Tampa                                                           1
Midwest Indianapolis                                               1
Arlington                                                          1
Charlotte Mid Atlantic East Coast                                  1
Greenville                                                         1
NC 4                                                               1
AL                                                                 1
CO Washington                                                      1
Somewhere I Tricare Prime                                          1
MiamiSouth FL                                                      1
Mostly Southern US TX                                              1
NC SoutheastTexas                                                  1
DC Open                                                            1
Newnan GA                                                          1
Flexible                                                           1
European                                                           1
Carolinas                                                          1
East Coast Chicago Texas Northern California                       1
West West Coast                                                    1
Central North Carolina Durham                                      1
Colorado Spring                                                    1
Raleigh Durham                                                     1
Spring Lake                                                        1
Intermountain West                                                 1
Pacific Northwest West MidAtlantic                                 1
France Western Europe                                              1
CT I parttime NYC Boston                                           1
Virginia Beach Northern VADC Philadelphia                          1
Charleston SC                                                      1
South East                                                         1
Park City                                                          1
US West Coast New Zealand                                          1
Durham NC                                                          1
Currently Phoenix                                                  1
TennesseeAlabamaGeorgiaSouth CarolinaNorth Carolina                1
Dallas San Diego Anywhere                                          1
UNK                                                                1
SF Bay                                                             1
TampaEast Coast                                                    1
RICHMOND                                                           1
Open Location                                                      1
UT Portland                                                        1
Texas Austin                                                       1
Western United States International                                1
Burlington                                                         1
Northwest Montana                                                  1
Miami                                                              1
NC nonMiami Florida                                                1
OR NorCal                                                          1
CONUS OCONUS                                                       1
North East US                                                      1
VA Charlotte                                                       1
East CoastNew England                                              1
Huntsville                                                         1
Tucson                                                             1
TampaOrlando FL                                                    1
SouthMidwest                                                       1
Tennesee                                                           1
Texas preferrably DallasFt Worth Metroplex Austin Area             1
Southern California NYC                                            1
Nashville 23 ETS                                                   1
oportunity                                                         1
NH Boston                                                          1
1 Boston Area MA2 Austin TX 3 Denver CO                            1
MA Austin                                                          1
Southeast Closer I                                                 1
The Southeast                                                      1
Tokyo                                                              1
Rughly MidAtlantic                                                 1
Southern Texas                                                     1
Between Richmond                                                   1
IL Suburbs                                                         1
Greater San Diego Area Mid West                                    1
South Utah                                                         1
Lasalle                                                            1
Folsom                                                             1
CONUS                                                              1
Western United States                                              1
Somewhere Richmond                                                 1
Vermont                                                            1
Na                                                                 1
MA Washington                                                      1
San Francisco San Diego Denver                                     1
Texas Carolinas                                                    1
DC Metro Area                                                      1
St Augustine                                                       1
Ft Worth                                                           1
Madison                                                            1
Colorado MidWest                                                   1
CA Phoenix                                                         1
SOCAL                                                              1
San Diego Irvine                                                   1
San Diego New York                                                 1
Latin America                                                      1
Somewhat                                                           1
Northeast Boston                                                   1
VA Florida Texas                                                   1
TX Raleigh                                                         1
NM Colorado Springs Boulder Denver Area                            1
Preferably Raleigh                                                 1
West Coast PNW                                                     1
Melbourne Fl                                                       1
Northern Nevada                                                    1
DC Metro                                                           1
DallasPalm Beach County                                            1
Prefer Virginia                                                    1
San Francisco Bay Area                                             1
NC Raleigh                                                         1

In [72]:
df[df['Branch'] == df['Branch']]

,Id,Birthdate,CreatedDate,Location,City,State,How_did_you_hear_about_Elite_Meet,Your_transition_to_civilian_life_begin,Undergrad,Undergrad_School,Undergrad_major,Grad_Degree,Graduate_School,Grad_Degree_Type,Years_of_Service,Officer,Military_specialty_in_real_words,Whichcourse,When_did_you_graduate,What_was_your_first_unit_after_grad,Branch,Tribe,What_locations_do_you_WANT_to_live_in,Where_do_you_NOT_WANT_to_live,What_would_be_your_ideal_next_job,Target_Industries_Pls_pick_up_to_Three,of_informational_interviews_completed,of_job_formal_interviews_completed,of_counting_getting_a_job_through_EM,What_s_more_important_to_you,How_mobile_are_you_and_your_family,Lead_RecordType,Created,Approx_Age
0,003f400000cZo1bAAC,NaN,10/16/18 15:40,"Washington,DC",Washington,DC,NaN,NaN,Complete,University of Charleston,Organizational Leadership,NaN,NaN,NaN,25.0,False,SEAL,BUD/S (SEAL),NaN,NaN,Navy,SEAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Veteran,2018-10-16,44.0
1,003f400000cZo3EAAS,NaN,10/16/18 15:40,"Chattanooga, TN",Chattanooga,TN,NaN,NaN,NaN,NaN,NaN,Complete,NaN,MBA,NaN,False,NaN,Q Course (SF),NaN,NaN,Army,Green Beret,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Veteran,2018-10-16,NaN
2,003f400000dbBWeAAM,3/14/89 0:00,10/23/18 16:17,"San Diego,CA",San Diego,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masters - Real Estate,9.0,False,SEAL,BUD/S (SEAL),7/31/10 0:00,SEAL Team 7,Navy,SEAL,San Diego/ Southern CA,"Mid west,south",NaN,Real Estate,NaN,NaN,NaN,Location,NaN,Veteran,2018-10-23,28.0
3,003f400000dbEUxAAM,9/29/83 0:00,10/23/18 16:30,"Houston,TX",Houston,TX,Friend,NaN,Complete,US Military Academy,Business Management,In Progress,NaN,MBA,11.0,True,Special Forces Team Commander,Q Course (SF),9/15/14 0:00,20th Special Forces Group,Army,Green Beret,"Houston,Fort Lauderdale,New York",West Coast,NaN,Entrepreneurship;Healthcare;Real Estate,NaN,NaN,NaN,Job,NaN,Veteran,2018-10-23,33.0
4,003f400000dbEUyAAM,7/4/92 0:00,10/23/18 16:30,"New York,NY",New York,NY,Friend,NaN,In Progress,Columbia University,Economics,NaN,NaN,NaN,4.0,False,Infantry,RASP (RR),11/20/11 0:00,2/75 Ranger Regiment,Army,Ranger,"East or West Coast,Chicago",N/a,NaN,Finance;Consulting;Tech,NaN,NaN,NaN,Job,NaN,Veteran,2018-10-23,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,003f400001XlCt4AAF,NaN,9/10/20 9:26,"Fort Bragg,NC",Fayetteville,NC,Hire Heroes,4/15/20 0:00,Complete,US Military Academy,Environmental Geography,Complete,University of Maryland - College Parki,NaN,15.0,True,Army Special Forces Officer,Q Course (SF),4/7/11 0:00,3rd Special Forces Group (Airborne),Army,Green Beret,"Washington,DC; Alexandria,VA; Arlington,VA",NaN,Medical Device Sales,Finance;Consulting;Healthcare,NaN,0,7,Location,3,Veteran,2020-09-10,37.0
748,003f400001XmTl5AAF,NaN,9/11/20 9:40,"San Diego,CA",San Diego,CA,Colleague - Transitioning,2/6/22 0:00,Complete,Excelsior,Criminal Justice,In Progress,National University,NaN,9.5,False,"Specialties include: Joint Terminal Attack Controller (JTAC),Naval Special Warfare (NSW) Communicator,NSW Breacher. My responsibility as a JTAC is to safely coordinate the airspace between multiple air assets. As a JTAC I rely on the skills I learned as a NSW Communicator to quickly and concise...",BUD/S (SEAL),7/22/11 0:00,SEAL Team Three,Navy,SEAL,"San Diego - Irvine,CA. A warm climate area near the ocean.","Arizona,New Mexico,Texas,desert or arid areas,or areas with harsh winters",Ideally something that offers problem solving and tasks that often vary.,Consulting,NaN,NaN,7,Location,4,Veteran,2020-09-11,28.5
749,003f400001XmU5tAAF,NaN,9/11/20 9:41,"Virginia Beach,VA",Virginia Beach,VA,Co-worker,9/13/21 0:00,Complete,Fairfield University,Marketing,NaN,NaN,NaN,7.0,False,East Coast based SEAL Teams with deployments throughout Africa.,BUD/S (SEAL),6/12/15 0:00,ST-10,Navy,SEAL,Preferably on the East Coast,NaN,working for a company offering a life enhancing product or service.,Entrepreneurship;Consulting;Non-Profit,4,0,5,Job,3,Veteran,2020-09-11,26.0
750,003f400001XvjrfAAB,NaN,9/12/20 0:26,"Monterey,CA",Monterey,CA,Colleague,10/1/20 0:00,Complete,US Naval Academy,English,NaN,NaN,NaN,11.0,True,F/A-18 E/F Super Hornet Pilot / Instructor,Winged as a fighter pilot (Flight Officer),1/6/12 0:00,VFA-14 TOPHATTERS,Navy,Pilot,Northern California,NaN,Contributing to a forward thinking innovative company.,Security;Aerospace and Defense;Tech,NaN,NaN,7,Location,2,Veteran,2020-09-12,33.0
751,003f400001Y7ydhAAB,NaN,9/17/20 11:21,"Los Angeles,CA",Los Angeles,CA,Instagram,3/1/17 0:00,In Progress,Southern New Hampshire University,Criminal Justice,NaN,NaN,NaN,NaN,False,I'm a security and counter-terrorism expert.,Q Course (SF),1/11/13 0:00,7th Special Forces Group (A),Army,Green Beret,NaN,NaN,Security Consulting,Consulting,NaN,4,Not a ton,Job,4,Veteran,2020-09-17,NaN